<?xml version="1.0" encoding="utf-8" ?>
<LodelPlugin>
    <title>IdPlus</title>
    <description>Ajout d'identifiant auteurs</description>
    <sql>0</sql>
    <hookType>class</hookType>
    <triggers>postview</triggers>
    <parameters>

        <param name="authorized_tags" title="Balises HTML autorisées" type="text" defaultValue="em,strong,h1,h2,h3,sup,span,a" allowedValues="" required="true"/>
        <param name="userrights" title="Droits utilisateurs" type="select" allowedValues="20,30,40,128" defaultValue="40" required="true"/>
    </parameters>
</LodelPlugin>
